@import "../root/functions.scss";
$radius: 170px;

body {
  @include flex(center, center, row);
  min-height: 100vh;
}

.container {
  @include box(340px, auto, 0, transparent);
  @include flex(flex-start, flex-start, row);
  flex-wrap: wrap;
}

.box {
  width: $radius;
  height: $radius;
}

.red {
  background-color: #ff3d00;
  border-radius: 50% 0 0 50%;
}

.orange {
  background-color: #ff6856;
  border-radius: 0 50% 50% 0;
}
.purple {
  background-color: #ad55fd;
  border-radius: 50% 0 0 50%;
}
.blue {
  background-color: #00bfff;
  border-radius: 50%;
}
.green {
  background-color: #00c783;
  border-radius: 50% 0 50% 50%;
}
