*,
::before,
::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --height: 200px;
  --width: 315px;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
.youtube {
  position: relative;
  width: var(--width);
  height: var(--height);
  background-color: #e21;
  padding: 0 15px;
  border-radius: 50% / 11%;
}
.youtube::before {
  content: "";
  position: absolute;
  background: inherit;
  top: 10%;
  bottom: 10%;
  right: -5%;
  left: -4.5%;
  border-radius: 5% / 50%;
}
.arrow {
  width: 100%;
  height: var(--height);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 3px;
}

.arrow::before {
  content: "";
  z-index: 1;
  width: 0;
  height: 0;
  border-left: 74px solid #fff;
  border-top: 40px solid transparent;
  border-bottom: 40px solid transparent;
}
